[Unit]
Description=Rclone Onedrive Mount
After=network-online.target

[Service]
ExecStart=/usr/bin/rclone mount --vfs-cache-mode full --allow-other onedrive:/ %h/onedrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
